In [11]:
import numpy as np
import pandas as pd

# LendingClub

In [2]:
data_path = './LendingClub/'

In [14]:
%%time
df1 = pd.read_csv(data_path+'/accepted_2007_to_2018q4.csv/'+'accepted_2007_to_2018q4.csv', low_memory=False)

CPU times: user 34.4 s, sys: 4.5 s, total: 38.9 s
Wall time: 40.1 s

In [15]:
%%time
df2 = pd.read_csv(data_path+'/rejected_2007_to_2018q4.csv/'+'rejected_2007_to_2018q4.csv', low_memory=False)

CPU times: user 11 s, sys: 2.78 s, total: 13.8 s
Wall time: 14.3 s

In [16]:
len(df1)

2260701

In [17]:
len(df2)

27648741

In [10]:
df.isnull().sum()

id                             0
member_id                2260701
loan_amnt                     33
funded_amnt                   33
funded_amnt_inv               33
                          ...
settlement_status        2226455
settlement_date          2226455
settlement_amount        2226455
settlement_percentage    2226455
settlement_term          2226455
Length: 151, dtype: int64

In [31]:
len(df1)

2260701

In [30]:
df1.id.nunique()

2260701

In [18]:
df1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df2.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0

# Give Me Some Credit

In [20]:
path = './GiveMeSomeCredit/'

In [22]:
%%time
df_test = pd.read_csv(path+'cs-test.csv')

CPU times: user 36.3 ms, sys: 14 ms, total: 50.2 ms
Wall time: 54.2 ms

In [24]:
%%time
df_train = pd.read_csv(path+'cs-training.csv')

CPU times: user 54 ms, sys: 21.3 ms, total: 75.2 ms
Wall time: 90.9 ms

In [32]:
%%time
df_sample = pd.read_csv(path+'sampleEntry.csv')

CPU times: user 15.5 ms, sys: 11.3 ms, total: 26.8 ms
Wall time: 39 ms

In [29]:
len(df_test)

101503

In [28]:
df_test.SeriousDlqin2yrs.isnull().sum()

101503

In [33]:
df_sample.head()

   Id  Probability
0   1     0.080807
1   2     0.040719
2   3     0.011968
3   4     0.067640
4   5     0.108264

In [23]:
df_test.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,NaN,0.885519,43,0,0.177513,5700.0,4,0,0,0,0.0
1,2,NaN,0.463295,57,0,0.527237,9141.0,15,0,4,0,2.0
2,3,NaN,0.043275,59,0,0.687648,5083.0,12,0,1,0,2.0
3,4,NaN,0.280308,38,1,0.925961,3200.0,7,0,2,0,0.0
4,5,NaN,1.000000,27,0,0.019917,3865.0,4,0,0,0,1.0

In [26]:
df_train.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

# Credit Card Data from Book "Econometric Analysis" by William H. Greene

In [12]:
%%time
path = './'
df = pd.read_csv(path+'AER_credit_card_data.csv')

CPU times: user 4.84 ms, sys: 2.87 ms, total: 7.71 ms
Wall time: 13.1 ms

In [13]:
df.head()

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5

In [ ]:
df.si